body {
  box-sizing: border-box;
  background-color: #fefff2;
  width: 430px;
  border: solid lightgray 1px;
  margin: 0;
  padding: 0.5rem;
  /* remはHTMLの文字の相対サイズ*/
}
header {
  display: flex;
  background-color: #333;
  color: white;
  padding: 5px;
  align-items: center;
}
#menu-title {
  background-color: #333333;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 8px 0 0 0; /* 下のpaddingを0にする */
  margin: 0; /* 外側の余白を消す */
  letter-spacing: 2px;
}
header > div {
  flex: 1;
  text-align: center;
  white-space: nowrap;
}

/* ハンバーガーとPC版を近づける */
#menu-icon {
  margin-right: 4px;
}
#pc-label {
  margin-left: 0px;
}

/* PC版と残り時間を離す */
#time {
  margin-left: 12px;
}

/* 残り時間とユーザー名を離す */
#username {
  margin-left: 16px;
}

/* ハンバーガーメニュー */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hamburger span {
  width: 20px;
  height: 2px;
  background: white;
  margin: 2px 0;
}

/* ログアウトボタンの中身を中央寄せに */
#logout-button {
  display: flex;
  justify-content: center;
}
button {
  background-color: #555;
  color: white;
  border: none;
  padding: 2px 3px;
  border-radius: 4px;
  cursor: pointer;
}
#logout-button button:hover {
  background-color: #777;
}

@media (max-width: 768px) {
  .center {
    display: none;
  }
}

#menu-icon {
  margin-right: 2px; /* PC版と適切な間隔 */
}

#pc-label {
  font-weight: normal;
}

#username {
  margin-right: 16px;
  white-space: nowrap;
}

.menu-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #777;
}
