body {
  background-color: #fefff2;
}
#main {
  background-color: #efefef;
}
#head {
  background-color: #2b2b2b;
  color: white;
}
.kamoku {
  background-color: #d3d3d3;
}
#attention {
  color: red;
}
.kamoku_name {
  font-size: 26px;
}
