body {
  background-color: #fefff2;
}
#main {
  background-color: #efefef;
}
#head {
  background-color: #2b2b2b;
  color: white;
}
.kamoku {
  background-color: #d3d3d3;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#attention {
  color: red;
}
.kamoku_name {
  font-size: 26px;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}
.data {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}

/*グリットで再現 divにデータを入れて利用して*/

.data div {
  padding-left: 2rem;
}

/* 科目日別一覧 */
table#date_list {
  background-color: #d3d3d3;
}

table#date_list {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 2rem;
  text-align: center;
  width: 400px; /* 横幅を画面いっぱいに */
  border-collapse: collapse;
  font-size: 18px; /* 文字を大きく */
}
